/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #777;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Global */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ddd;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark,
.btn-dark {
  background-color: #333;
  color: #fff;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header h2 {
  text-transform: uppercase;
  color: #444;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 24px;
}

.section-header p {
  margin: 0 auto;
  font-style: italic;
  font-weight: 400;
  color: #333;
}

.underline {
  text-decoration: underline;
}

/* Header */

#hero {
  background: url('../img/parallax1.jpg') no-repeat center center/cover;
  opacity: 0.75;
  height: 100vh;
}

#hero .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px 16px;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  padding: 8px 16px;
  text-transform: uppercase;
  color: #000;
}

.navbar ul li a:hover {
  background-color: #ccc;
  color: #000;
  padding: 8px 16px;
}

.navbar .search i {
  color: #000;
  padding: 8px 16px;
}

.navbar .search i:hover {
  background-color: #f44336;
  color: #fff;
  padding: 8px 16px;
}

#hero .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#hero .content h1 {
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* About */

.about h2 {
  text-transform: uppercase;
  text-align: center;
}

.about .undertext {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.about p {
  text-align: justify;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  margin-top: 30px;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column .column-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.flex-columns .column .column-1 .above-text {
  margin-bottom: 30px;
}

.flex-columns .column .column-1 .above-text i {
  padding-right: 15px;
}

.flex-columns .column .column-1 img {
  max-width: 100%;
  height: auto;
  opacity: 0.6;
}

.flex-columns .column .column-1 img:hover {
  opacity: 0.9;
}

.flex-columns .column .column-2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80%;
}

/* Portfolio */

.flex-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 1.25rem 3rem;
  font-size: 24px;
}

.flex-items .portfolio-text {
  font-size: 15px;
}

.portfolio-img {
  background: url('../img/parallax2.jpg') no-repeat center center/cover;
  min-height: 400px;
}

.portfolio-img h2,
.contact-img h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 200px;
  font-weight: 400;
  color: #fff;
}

.flex-grid {
  text-align: center;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 30px 4px;
}

.flex-grid .column img:hover {
  opacity: 0.7;
}

/* Contact */

.contact .container {
  height: 600px;
  padding-top: 50px;
}

.contact-img {
  background: url('../img/parallax3.jpg') no-repeat center center/cover;
  min-height: 400px;
  opacity: 0.7;
}

.contact-form img {
  width: 284px;
}

.contact-form .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 4px;
}

.contact-form .row .column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.contact-form .row .column .column-1,
.contact-form .row .column .column-2 {
  height: 100%;
}

.form-group {
  width: 100%;
  padding: 10px 0;
}

.form-group .form-control {
  margin-bottom: 15px;
}

.flex-forms {
  display: flex;
  gap: 0.5rem;
}

.form-group .form-control input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: 1px solid #ccc;
  background: transparent;
}

/* Footer */

#main-footer {
  height: 250px;
}

#main-footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

#main-footer .socials i {
  font-size: 22px;
  padding-left: 4px;
  margin-top: 10px;
}
